@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

.nav {
  z-index: 10;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #fff);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  line-height: 1.2;
}

.portfolio,
.contact {
  margin-top: 8%;
}

.experience {
  margin-top: 12%;
}

.nav-links {
  text-underline-offset: 1rem;
}

.contact1 {
  padding-bottom: 60px;
}
@media screen and (max-width: 900px) {
  .about1,
  .contact1,
  .portfolio1,
  .experience1,
  .home1 {
    text-align: center;
    height: 100%;
  }

  .about1,
  .portfolio1,
  .experience1 {
    margin-top: 10%;
  }

  .home1 img {
    margin-top: 25%;
  }

  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }

  .gap-8 {
    gap: 4rem;
  }

  .home h2 {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-top: 7%;
  }

  .portfolio-btn {
    margin: auto;
  }

  .px-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
